:root {
  --main-text-color: rgb(77, 77, 77);
  --secondary-text-color: rgb(99, 99, 99);
}

body {
  margin: 0;
  padding: 0;
  background: rgb(244, 244, 244);
}

.container {
  font-family: "Noto Serif TC", "Open Sans", "Helvetica", sans-serif;
  padding-top: 3em;
}

/* HEADER */
.header {
}

.avatar {
  padding: 2em 0;
  border-radius: 100%;
  max-width: 256px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.header__title {
  color: var(--main-text-color);
  text-align: center;
}

.header__subtitle {
  color: var(--secondary-text-color);
  text-align: center;
}

.header__paragraph {
  color: var(--secondary-text-color);
  text-align: center;
}

/* CONTENT SECTION */

/* SOCIAL COMPONENT */
.social-media {
  padding: 2em;
}

.social-media__icon {
  color: var(--secondary-text-color);
  font-size: 3em;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
}

.social-media__link {
  color: var(--secondary-text-color);
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 100ms linear color;
}

.social-media__link:hover {
  color: var(--main-text-color);
  text-decoration: none;
}

/* ABOUT SECTION */
.about {
  padding: 2em 0;
}

.about__title {
  text-align: center;
  color: var(--main-text-color);
}

.about__paragraph {
  padding: 1em 0;
  text-align: center;
  color: var(--secondary-text-color);
}

/* TECHNOLOGY SECTION */
.technology-component {
  margin: 2em 0;
}

.technology-component__icon {
  max-width: 128px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
  filter: grayscale(100%);
}

.technology-component__name {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  color: var(--secondary-text-color);
  padding: 0.5em 0;
}

.technology-component__desc {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  color: var(--main-text-color);
}

/* EXPERIENCES SECTION */
.experiences {
  padding: 2em 0;
}

.experiences__title {
  text-align: center;
  color: var(--main-text-color);
}

.experiences__paragraph {
  padding: 1em 0;
  text-align: center;
  color: var(--secondary-text-color);
}

.language-component {
  margin: 2em 0;
}

.language-component__flag {
  max-width: 128px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
}

.language-component__flag--disable {
  max-width: 128px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  filter: grayscale(100%);
}

.language-component__name {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  color: var(--secondary-text-color);
  padding: 0.5em 0;
}

.language-component__desc {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  color: var(--main-text-color);
}

/* FOOTER */
.footer {
}

.footer__msg {
  color: var(--main-text-color);
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 3em 0;
}
