.languages__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 5px;
    margin: 50px 0 0;
    grid-template-areas: 
    "title title"
    "sub-title sub-title"
}

@media (min-width: 900px) {
    .languages__section {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        justify-content: center;
        grid-template-areas: 
            "title title title"
            "sub-title sub-title sub-title"
    }
    
}

.languages__section h2 {
    grid-area: title;
    text-align: center;
    color: var(--primary-color);
    line-height: 0;
}

.languages__section > h3 {
    grid-area: sub-title;
    text-align: center;
    color: var(--grey-color);
    margin: 0 auto 30px;
    width: 60%;
    display: block
}