@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('../fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('../fonts/CircularStd-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('../fonts/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('../fonts/CircularStd-BlackItalic.woff') format('woff');
}

.cyrilic {
    font-family: Helvetica, sans-serif !important;
}

:root {
    --main-color: #008083;
    --main-dark-color: #2c3131;
    --secondary-dark-color: #a4a9a9;
    --main-font-family: 'Circular Std Medium', Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center 80%;
}

/* 
    Overwrite
    NOTE: That code exists only to overwrite the Spectre.CSS code.
*/

h1, h2, h3, h4, h5, h6, p {
    font-family: var(--main-font-family);
    color: var(--secondary-dark-color);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.columns {
    justify-content: space-around;
}

/*
    Generics
    NOTE: That code was created to prevent code copy & paste.
*/
.section {
    display: block;
    margin: 5em auto 0 auto;
    max-width: 100%;
    width: 100%;
}

.title {
    color: var(--main-color);
    text-align: center;
    margin: 1em 0 0 0;
}

.subtitle {
    color: var(--main-dark-color);
    text-align: center;
}

.main-color {
    color: var(--main-color);
}

.dark-color {
    color: var(--main-dark-color);
}

.grey-color {
    color: var(--secondary-dark-color);
}

.white-color {
    color: white;
}

.text-center {
    text-align: center;
}

.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: auto;
    max-width: 200px;
    width: 100%;
    box-shadow: 0 1em 3em rgba(164, 169, 169, .3);
    background-color: rgba(0, 0, 0, 0);
}

.extra-margin {
    margin-bottom: 2em;
}

/*
    Sections Styles
    NOTE: Custom Section Styles.
*/
.skills {
    margin-top: 2em;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    width: 100%;
}

@media (max-width: 768px) {
    .skills {
        max-width: 100%;
        width: 100%;
    }
}

.quote {
    margin-top: 4em;
}

.quote__paragraph {
    border-left: solid 1px #008083;
}

.quote__paragraph > p {
    padding-left: 1em;
    width: 90%
}

.skills__icon {
    display: block;
    margin: 3em auto 0;
    max-width: 64px;
    width: 100%;
}

.language__section {
    padding: 0 1em;
}

.language__section>img {
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 2em auto;
    border-radius: 50%;
    box-shadow: 0 .5em 1em rgba(164, 169, 169, .3);
    border: solid 1px rgba(155, 155, 155, .1);
}

.language__section>.disabled {
    filter: opacity(10%);
}

.language__section>h4 {
    text-align: center;
    color: #2c3131;
    font-weight: bold;
}

.language__section>p {
    color: var(--secondary-dark-color);
    text-align: center;
    font-weight: 100;
}

.projects {
    display: block;
    margin-top: 4em;
}

.projects__title {
    color: var(--secondary-dark-color);
    text-align: center;
}

.projects__list {
    margin-top: 2em;
}

.projects__element {}

.projects__element>img {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.projects__element>h4 {
    margin-top: 1em;
    color: #2c3131;
}

.projects__element>p {
    color: var(--secondary-dark-color);
    font-weight: 100;
}

.bar {
    margin-top: 1em;
    border-top: solid 2px #008083;
    border-bottom: solid 2px #008083;
    width: 35%;
    padding: 0;
    height: 0;
    border-radius: 0;
}

.social {
    display: block;
    margin-top: 4em;
}

.social__title {
    color: var(--main-dark-color);
    text-align: center;
}

.social__list {
    margin-top: 2em;
}

.social__element {}

.social__element>a {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
}

.social__element>a>h5 {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    transition: 200ms linear color;
}

.social__element>a>i {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: #2c3131;
    font-size: 3em;
    display: block;
    margin: 0 auto;
    padding: 1em 0;
}

.social__element>a:hover {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    color: var(--main-color)
}

.social__element>a>h5:hover {
    color: var(--main-color)
}

.footer {
    max-width: 100%;
    width: 100%;
    background: rgb(50, 50, 50);
    display: block;
    margin: 5em auto 0 0;
    padding: 2em 0;
}

.footer > p {
    text-align: center;
    font-size: 1em;
    margin: 3em 0 1em 0;
}

.justify-start {
    justify-content: flex-start;
}

.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: var(--main-font-family);
}

.footer__list-right {
    display: inline-block;
}

.footer__list-right > li {
    display: inline-block;
}

.footer__list-right > li > a {
    font-size: 2em;
    padding: 0 .2em 0 0;
}

.footer__list > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__list > li > a {
    color: inherit;
    text-decoration: none;
    font-style: inherit;
    transition: 200ms linear color;
}

.footer__list > li > a:hover {
    color: var(--main-color)
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
        margin: 0 auto;
    }

    .footer__list {
        margin: 1em 0;
    }

}
